{% extends 'backbone.html' %}

{% block content %}

<script type="text/javascript">

function connect() {
    var ip = document.getElementById("ip").value;
    var port = document.getElementById("port").value;
    var username = document.getElementById("username").value;
    var password = document.getElementById("password").value;

    if (!ip || !port) {
        document.getElementById("responseField").innerHTML = "Target and Port required";
        return
    }
    if (!username || !password) {
        var url = `/devices/add/?host=${ip}&port=${port}`
    } else {
        var url = `/devices/add/?host=${ip}&port=${port}&username=${username}&password=${password}`
}
    // console.log(`/devices/add/?host=${ip}&port=${port}`)
    window.location.href = url
}

</script>

<h3>Add Device</h3>

<div class="input-field">
    <div class="input-label">
        <label for="ip"> Target:</label>
    </div>
    <input id="ip" type="text" name="name" placeholder="IP or Domain Name" required>
</div>

<div class="input-field">
    <div class="input-label">
        <label for="port">Port:</label>
    </div>
    <input id="port" type="number" name="port" placeholder="Port Number" required>
</div>

<div class="input-field">
    <div class="input-label">
        <label for="username">Username:</label>
    </div>
    <input id="username" type="text" name="Username" placeholder="Username" required>
</div>

<div class="input-field">
    <div class="input-label">
        <label for="password">Password:</label>
    </div>
    <input id="password" type="password" name="Password" placeholder="Password" required>
</div>

<button onclick="connect();" class="button1">
    Connect
</button>

<div id="responseField">

</div>

{% endblock content %}