{% extends 'backbone.html' %}

{% block content %}

<h3>Devices</h3>

<a href="/devices/add/">
    <button id="addDevice" class="button1">
        Add Device
    </button>
</a>

<div class="all-devices">
    <div class="routers">
        <h4>Routers</h4>
        {% for router in routers %}
            <a href="{{router}}">
                <div class="card">
                    {{router}}
                </div>
            </a>
        {% endfor %}
    </div>
    <div class="switches">
        <h4>Switches</h4>
        {% for switch in switches %}
            <a href="{{switch}}">
                <div class="card">
                    {{switch}}
                </div>
            </a>
        {% endfor %}
    </div>
</div>

{% endblock content %}