{% extends 'backbone.html' %}

{% block content %}

{% load static %}

<h2>Device - {{hostname}}</h2>

<div class="sub-navigation">  

    <ul>

        <li id="access">Access</li>

        <li id="global-commands">Global</li>

        <li id="interfaces">Interfaces</li>

        <li id="lines">Lines</li>

        <li id="routing">Routing</li>

        <li id="acl">ACL</li>
 
        <li id="dhcp">DHCP</li>

        <li id="cli">CLI</li>

    </ul>

</div>

<script>

$( ".sub-navigation li" ).on("click", function() {
    displayConfigSection($( this ).attr("id"));
})

</script>



<form id="deviceConfig" action="/devices/{{ hostname }}/save-config" method="post">

{% csrf_token %}

<div class="config-inputs access">

    <h3>Access</h3>

    <table class="form-table" role="presentation">

        <tbody>

            {{ access_form }}

        </tbody>

    </table>

</div>

<div class="config-inputs global-commands">

    <h3>Global Commands</h3>

    {{ global_commands }}

    <div id="globalCmdsContainer"></div>

    <input id="newCmd" class="new-cmd" type="text"><button id="addCmd" class="button1 new-cmd"><b>+ Add</b>

</div>


<div class="config-inputs interfaces">

    <h3>Interfaces</h3>

    <p>Add Loopback Interface:</p>

    <input style="margin-bottom: 30; width: 90" placeholder="Number" id="loopbackNumber" type="number">

    <button id="addLoopback" class="button1"><b>+ Add</b></button>

    <br>

    {% for interface, interface_config in int_config.items %}

        <div class="dropdown interface">

            <h5 class="dropdown-title">{{ interface }}<span style="float: right; padding-right:15px;"><i class="arrow down"></span></i></h5>

            <div class="dropdown-bottom">

                <div class="input-fields">

                    <table class="form-table">

                        <tbody>

                            {{ interface_config }}

                        </tbody>

                    </table>
                
                </div> 

                <div id="{{ interface }}-other-cmds" class="input-fields">

                    <p style="margin-bottom: 15; font-weight: bold;">Other Commands</p>

                    <input id="{{ interface }}-add-other-cmd" type="text">

                    <button id="{{ interface }}-addOtherCmd" class="button1" style="margin-top: 10px;"><b>+ Add</b></button><br>

                </div>
                
                <div id="{{ interface }}-acl" class="input-fields">
                    
                    <p style="margin-bottom: 15; font-weight: bold;">Access Control Lists</p>

                    <select class="available-acls">

                        <option>--Select ACL--</option>
                        
                    </select>

                    <input type="radio" name="acl-direction" value="inbound">Inbound</input>

                    <input type="radio" name="acl-direction" value="outbound">Outbound</input>
                    
                    <button class="button1 assign-acl" style="margin-top: 10px;"><b>+ Add</b></button> 

                    <p>Inbound</p>

                    <div id="{{ interface }}-inbound-container"></div>

                    <hr>
                    
                    <p>Outbound</p>
                    
                    <div id="{{ interface }}-outbound-container"></div>

                    <br>
 
                </div>
 
            </div>
 
        </div>
 
    {% endfor %}

</div>

<div class="config-inputs lines">

    <h3>Lines</h3>

    {% for line, lineconfig in line_config.items %}

        <div class="dropdown line">

            <h5 class="dropdown-title">{{ line }}<span style="float: right; padding-right:15px;"><i class="arrow down"></span></i></h5>

            <div class="dropdown-bottom">

                <div class="input-fields">

                    <table class="form-table">

                        <tbody>

                            {{ lineconfig }}

                        </tbody>

                    </table>
                
                </div> 

                <div id="{{ line }}-other-cmds" class="input-fields">

                    <p>Other Commands</p>

                    <input id="{{ line }}-add-other-cmd" type="text">

                    <button id="{{ line }}-addOtherCmd" class="button1" style="margin-top: 10px;"><b>+ Add</b></button><br>

                </div>
                
                <div id="{{ line }}-acl" class="input-fields">
                    
                    <p style="margin-bottom: 15;">Access Control Lists</p>

                    <select class="available-acls">

                        <option>--Select ACL--</option>
                        
                    </select>

                    <input type="radio" name="acl-direction" value="inbound">Inbound</input>

                    <input type="radio" name="acl-direction" value="outbound">Outbound</input>
                    
                    <button class="button1 assign-acl" style="margin-top: 10px;"><b>+ Add</b></button> 

                    <p>Inbound</p>

                    <div id="{{ line }}-inbound-container"></div>

                    <hr>
                    
                    <p>Outbound</p>
                    
                    <div id="{{ line }}-outbound-container"></div>

                    <br>
 
                </div>
 
            </div>
 
        </div>

    {% endfor %}

</div>


<div class="config-inputs routing">

    <h3>Routing</h3>

    <p style="font-size: 20px; font-weight: bold;">Static</p>

    <p>Add new route:</p>

    <table class="form-table">

        <tbody>

            <tr>
                
                <th>
                
                    <label for="id_network">Destination Network:</label>
                
                </th>
                
                <td>
                
                    <input type="text" name="network" id="id_network">
                
                </td>
        
            </tr>
            
            <tr>
        
                <th>
        
                    <label for="id_subnet_mask">Subnet Mask:</label>
        
                </th>
        
                <td>
        
                    <input type="text" name="subnet_mask" id="id_subnet_mask">
        
                </td>

                
            
            </tr>
            
            <tr>
                <th>
        
                    <label for="forward-to">Forward to:</label>
        
                </th>
                
                <td>

                    <input type="radio" name="forward-type" value="interface" checked><span class="label">Interface</span></input>
                    
                    <input style="color: white;" type="radio" name="forward-type" value="network"><span class="label">Network</span></input>

                    <select id="forwardInterfaces">

                        {% for interface in int_config %}
                        
                            <option value="{{ interface }}">{{ interface }}</option>

                        {% endfor %}

                    </select>

                    <input style="display: none;" type="text" id="forwardNetwork" placeholder="Network Address">

                </td>
        
            </tr>

        </tbody>
        
    </table>

    <button style="margin-bottom: 50;" id="addStaticRoute" class="button1">Add Static Route</button>

     <div class="static-routes">

        <input id="staticRoutes" name="static_routes" type="hidden" value="{{ static_routes }}">

    </div>
        
    <hr>

    <p style="font-size: 20px; margin-bottom: 15; font-weight: bold;">Dynamic</p>

    <div class="dynamic-routes">

    {% for protocol, config in dynamic_routing %}
    
        <div class="dropdown">
        
            <h5 class="dropdown-title">{{ protocol }}<span style="float: right; padding-right:15px;"><i class="arrow down"></span></i></h5>

            <div class="dropdown-bottom">

                <div class="input-fields">

                    <table class="form-table">

                        <tbody>

                            {{ config }}

                        </tbody>

                    </table>

                </div>

                <div class="input-fields">

                    <p>Advertise Networks:</p>

                    <hr>

                    <div class="networks-container">
                        
                        {% comment %} Advertised Networks Cards {% endcomment %}
                    
                    </div> 

                    <select class="available-networks">

                    {% for network in ospf_nets_to_advertise %}
                    
                        <option value="{{ network }}">{{ network }}</option>

                    {% endfor %}
                        
                    </select>

                    <input type="radio" name="ospf-area" value="area0">Area 0</input>

                    <input type="radio" name="ospf-area" value="other">Area: </input>

                    <input style="width: 50;" id="otherOspfArea" type="number">

                    <button id="addOSPFNetwork" class="button1" style="margin-top: 10px;"><b>+ Add</b></button>
    
                </div> 

                <div class="input-fields">

                    <p>Passive Interfaces:</p>  

                    <hr>

                    <div class="passive-ints-container">
                        
                        {% comment %} Passive Interfaces {% endcomment %}
                    
                    </div> 

                    <select id="passiveInterfaces">

                        {% for interface in int_config %}
                        
                            <option value="{{ interface }}">{{ interface }}</option>

                        {% endfor %}

                    </select>

                    <button id="addPassiveInt" class="button1" style="margin-top: 10px;"><b>+ Add</b></button>
    
                </div>

                <div class="input-fields">

                    <p>Other Commands:</p>  

                    <hr>

                    <div class="other-cmds-container">
                        
                        {% comment %} Other Commands {% endcomment %}
                    
                    </div> 

                    <input id="OSPFOtherCmd" type="text">

                    <button id="addOSPFOtherCmd" class="button1" style="margin-top: 10px;"><b>+ Add</b></button>

                </div> 
    
            </div> 

        </div> 
    
    {% endfor %}

    </div>

    <select id="routingProtocol">

    <option>OSPF</option>

    </select>

    <button id="newRoutingProtocol" class="button1">New Routing Protocol</button>

    </div>

        <div class="config-inputs acl">

        <h3>Access Control Lists</h3>

        <p>Add New ACL:</p>

        <input id="newACL" type="text">  

        <input type="radio" name="acl-type" value="standard">Standard</input>

        <input type="radio" name="acl-type" value="extended">Extended</input>

        <button id="addACL" class="button1" style="margin-top: 10px;"><b>+ Add</b></button><br>
        
        <div id="standardACLs">
        
        <p style="font-size: 20px; margin-bottom: 15; font-weight: bold;">Standard</p>

        {% for acl_id, form in acl.standard %}
            
            <div class="dropdown">

                <h5 class="dropdown-title">{{ acl_id }}<span style="float: right; padding-right:15px;"><i class="arrow down"></span></i></h5>

                <div class="dropdown-bottom">

                    <div class="input-fields">

                        <table class="form-table">

                            <tbody>

                                {{ form }}

                            </tbody>

                        </table>

                    </div>

                    <button class="button1 remove-acl standard" style="margin: 5">Remove ACL</button>

                </div>

            </div>

        {% endfor %}

        </div>

    <hr>

    <div id="extendedACLs">

        <p style="font-size: 20px; margin-bottom: 15; font-weight: bold;">Extended</p>

        {% for acl_id, form in acl.extended %}
            
            <div class="dropdown">

                <h5 class="dropdown-title">{{ acl_id }}<span style="float: right; padding-right:15px;"><i class="arrow down"></span></i></h5>

                <div class="dropdown-bottom">

                    <div class="input-fields">

                        <table class="form-table">

                            <tbody>

                                {{ form }}

                            </tbody>

                        </table>

                    </div>

                <button class="button1 remove-acl extended" style="margin: 5">Remove ACL</button>

                </div>

            </div>

        {% endfor %}

    </div>

</div>

<div class="config-inputs dhcp">

    <h3>DHCP</h3>

    <p style="margin: 0;">Add new DHCP Pool:</p>

    <input id="newDHCP" type="text">  

    <button id="addDHCP" class="button1" style="margin-bottom: 30px;"><b>+ Add</b></button>

    <div id="DHCPPoolsContainer">
    
        {% for pool_name, form in dhcp_pools %}
            
            <div class="dropdown">

                <h5 class="dropdown-title">{{ pool_name }}<span style="float: right; padding-right:15px;"><i class="arrow down"></span></i></h5>

                <div class="dropdown-bottom">

                    <div class="input-fields">

                        <table class="form-table">

                            <tbody>

                                {{ form }}

                            </tbody>

                        </table>

                    </div>

                    <button class="button1 remove-dhcp-pool" style="margin: 5">Remove DHCP Pool</button>

                </div>

            </div>

        {% endfor %}

    </div>

</div>

<script>

    $( ".config-inputs" ).on("click", "h5", function() {
        dropdown( $( this ).parent() );
    })

</script>

<div id="terminal" class="config-inputs cli"></div>

<div style="padding-top: 30px;">

    <a href="/devices">

        <button class="button1 back">

            Back to Devices

        </button>

    </a>

    <button class="button1 update-config">

        Update Configuration

    </button>


</div>

</form>


{% endblock content %}