{% extends 'backbone.html' %}

{% block content %}
{% load static %}

<script type="text/javascript">

    function displayConfigSection(sectionClass) {
        var configInputs = document.querySelectorAll(".config-inputs");
        for (i in configInputs) {
            $( configInputs[i] ).hide();
            if (configInputs[i].className.includes(sectionClass)) {
                $( configInputs[i] ).fadeIn();
            }
        }        
    }

    function initGlobalCmds() {
        var container = document.querySelector("#globalCmdsContainer");
        var cmds = document.querySelector("#globalCmds").value.split(",");

        for (i in cmds) {
            if (cmds[i]) {
                container.innerHTML += `<div style='margin-right: 10px;' class='card'>${cmds[i]}<span class="remove-command">X</span></div>`;
            }
        }

        container.innerHTML += '<div class="card"><b>+ Add<b></div>'
    }

    function submitForm(formID) {
        document.getElementByID(formID).submit()
    }

    function dropdown(id) {
        var section = document.querySelector(`[int-number="${id}"]`);
        var dropdownBottom = section.querySelector(".dropdown-bottom");
        var arrow = section.querySelector(".arrow");

        if (dropdownBottom.style.display === "inline-flex") { 
            $( arrow ).attr("class", "arrow down")
            $( dropdownBottom ).css("display", "flex")
            $( dropdownBottom ).slideUp();
        } else {                                     
            $( arrow ).attr("class", "arrow up")
            $( dropdownBottom ).slideDown();
            $( dropdownBottom ).css("display", "inline-flex")
        }
    }

    function displayTerminal() {
        var term = new Terminal();
        term.open(document.getElementById('terminal'));
        term.writeln("Cisco IOS");
        term.prompt = () => {
            term.writeln('\r\nR1# ');
        };

        terminalPrompt(term);

        term.onKey(e => {
            const printable = !e.domEvent.altKey && !e.domEvent.altGraphKey && !e.domEvent.ctrlKey && !e.domEvent.metaKey;

            if (e.domEvent.keyCode === 13) {
                terminalPrompt(term);
            } else if (e.domEvent.keyCode === 8) {
                // Do not delete the prompt
                if (term._core.buffer.x > 2) {
                    term.write('\b \b');
                }
            } else if (printable) {
                term.write(e.key);
            }
        });

    function terminalPrompt(term) {
      term.write('\r\nR1> ');
    }

    }

    $( document ).ready(function() {
        displayTerminal();
        initGlobalCmds();
        displayConfigSection("access");
    });

</script>

<div class="content-title">
<h3>Device - {{hostname}}</h3>

<div class="sub-navigation">  
    <ul>
        <li id="access">Access</li>
        <li id="global-commands">Global</li>
        <li id="interfaces">Interfaces</li>
        <li id="lines">Lines</li>
        <li id="routing">Routing</li>
        <li id="acl">ACL</li>
        <li id="dhcp">DHCP</li>
        <li id="cli">CLI</li>
    </ul>
</div>

<script>

$( "li" ).click( function() {
    displayConfigSection($( this ).attr("id"));
})

</script>


<form id="configForm" method="post">
{% csrf_token %}

<div class="config-inputs access">
    <h4>Access</h4>
    <table class="form-table" role="presentation">
        <tbody>
            {{ access_form }}
        </tbody>
    </table>
</div>

<div class="config-inputs global-commands">
    <h4>Global Commands</h4>
    <input id="globalCmds" type="hidden" name="global_commands" value="{% for command in global_commands %}{{command}},{% endfor %}">
    <div id="globalCmdsContainer"></div>
</div>

<div class="config-inputs interfaces">
    <h4>Interfaces</h4>
    {% for interface, interface_config in interfaces.items %}
        <div class="interface" int-number="{{ forloop.counter }}">
            <h5 class="interface-title">{{ interface }}<span style="float: right"><i class="arrow down"></span></i></h5>
            <div class="dropdown-bottom">
                <div class="input-fields">
                    <table class="form-table">
                        <tbody>
                            {{ int_config_form }}
                        </tbody>
                    </table>
                </div>
                <div class="input-fields radio">
                    {{ int_nat_form }}
                </div>     
                <div class="input-fields">
                    <p style="margin-bottom: 7;">Access Control Lists</p>
                    <p>Inbound</p>
                    {% if interface_config.acl.inbound %}
                        {% for acl in interface_config.acl.inbound %}
                            <div class="card">{{ acl }}</div> 
                        {% endfor %}
                    {% else %}
                        <span style="font-size: 10px;">None Assigned</span>
                    {% endif %}
                    <hr>
                    <p>Outbound</p>
                    {% if interface_config.acl.outbound %}
                        {% for acl in interface_config.acl.outbound %}
                            <div class="card">{{ acl }}</div> 
                        {% endfor %}
                    {% else %}
                        <span style="font-size: 10px;">None Assigned</span>
                    {% endif %}
                    <br>
                    <div class="card" style="margin-top: 10px;"><b>+ Add<b></div> 
                </div>
            </div>
        </div>
    {% endfor %}

    <script>
        $( "h5" ).click( function() {
            dropdown($( $( this ).parent() ).attr("int-number"));
        })
    </script>

</div>

<script>

$( ".dropdown-top" ).click( function() {
    $( this.querySelector() )    
})

</script>

<div class="config-inputs lines">
    <h4>Lines</h4>
    {% for line, line_config in lines.items %}
    {% endfor %}
</div>

<div class="config-inputs routing">
    <h4>Routing</h4>
</div>

<div class="config-inputs acl">
    <h4>Access Control Lists</h4>
</div>

<div class="config-inputs dhcp">
    <h4>DHCP</h4>
</div>

<div id="terminal" class="config-inputs cli"></div>

<div style="padding-top: 30px;">
    <a href="/devices">
        <button class="button1 back">
            Back to Devices
        </button>
    </a>

    <button class="button1 submit-form">
        Update Configuration
    </button>
</div>

</form>


{% endblock content %}