{% extends 'backbone.html' %}

{% block content %}

<h3>Device - {{hostname}}</h3>


<div class="input-field">
    <div class="input-label">
        <label for="ip"> Management IP:</label>
    </div>
    <input id="ip" type="text" name="name" value="{{mgmt_ip}}" placeholder="IP or Domain Name" required>
</div>

<div class="input-field">
    <div class="input-label">
        <label for="port">Port:</label>
    </div>
    <input id="port" type="number" name="port" value="{{mgmt_port}}" placeholder="Port Number" required>
</div>

<div class="input-field">
    <div class="input-label">
        <label for="username">Username:</label>
    </div>
    <input id="username" type="text" name="Username" value="{{username}}" placeholder="Username">
</div>

<div class="input-field">
    <div class="input-label">
        <label for="password">Password:</label>
    </div>
    <input id="password" type="password" name="Password" value="{{password}}" placeholder="Password">
</div>

<a href="/devices">
    <button class="button1 back">
        Back to Devices
    </button>
</a>


{% endblock content %}