{% extends 'backbone.html' %}

{% block content %}

<h3>Devices</h3>

<a href="/devices/add/">

    <button id="addDevice" class="button1">
        Add Device
    </button>

</a>

<br>

<br>

<br>

<div class="all-devices">

    <div class="routers">

        {% if devices %}

            {% for device in devices %}

                <a href="{{device}}">

                    <div class="card">

                        {{ device }}

                    </div>

                </a>

            {% endfor %}

        {% else %}

            <span><i style="border: none">No Devices found. Start by adding your first device by clicking "Add Device"!</i></span>

        {% endif %}



    </div>

</div>

{% endblock content %}