{% extends 'backbone.html' %}
{% load static %}

{% block content %}

<h3>Gather Command Outputs</h3>


<div class="actions-container">

    <div id="cmds">

        {% csrf_token %}

        {% for cmd in capture_output_cmds %}

            <input type="checkbox" name="cmd" value="{{ cmd }}">
        
            <label for="cmd">{{ cmd }}</label>
            
            <br>

        {% endfor %}

    </div>

    <input id="newCommand" type="text" placeholder="Add a new command"><button id="addNewCmd" class="button1"><b>+ Add</b></button>


        <p>Of Devices:</p>


        {% for device in devices %}

            <input type="checkbox" name="device" value="{{ device }}">
        
            <label for="device">{{ device }}</label>
            
            <br>

        {% endfor %}

        <button class="button1 capture" style="float: left;">Capture</button><img style="display: none;" class="loading-spinner" id="cmdOutsSpinner" src="{% static "Rolling-1s-200px.svg" %}">
    
    <img id="spinner" src="{% static "Rolling-1s-200px.svg" %}">
    
    <br>

    <br>

    <br>

    <div id="outputs"></div>

    <script>

        $( "#outputs" ).on("click", "h5", function() {
            dropdown( $( this ).parent() );
        })

    </script>

</div>


{% endblock content %}