/* BODY */

body {
    margin: 1% 3%;
    background-color: #272727;
    font-family: 'Work Sans', sans-serif;
}


/* LOGO */

body img {
    width: 350px
}

p {
    color: white;
}

.header {
    height: 100px;
    font-size: 20px;
}

.navigation ul li {
    display: inline-block;
}

.navigation ul a {
    transition: background-color 0.3s ease;
    border: 2px solid;
}

.navigation ul a:hover {
    background-color: #314d91;
    transition: background-color 0.3s ease;
}

.navigation a {
    display: block;
    width: 150px;
    color: white;
    font-size: 25px;
    text-align: center;
}


/* MAIN CONTENT */

.main-content {
    background-color: #314d91;
    min-height: 500px;
    color: white;
    margin-bottom: 100px;
    padding: 1px 15px;
}

.sub-navigation ul {
    max-width: 800px;
    list-style-type: none;
    font-size: 20px;
    display: inline-block;
    background-color: #272727;
    border: 2px solid white;
}

.sub-navigation ul li {
    margin: 0;
    padding: 10;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.sub-navigation ul li:hover {
    background-color: #768da2;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.main-content h3 {
    font-size: 22px;
    padding-bottom: 50;
}

.config-inputs {
    margin: 10 0;
}

.input-label {
    width: 140px;
    float: left;
    margin: 10 0;
    font-size: 15px;
}

input[type="text"],
input[type="number"],
input[type="password"],
select {
    font-size: 18px;
    margin: 10 0;
    border-radius: 5px;
    width: 250;
}

.form-table {
    border-collapse: collapse;
    margin-top: .2em;
    width: 100%;
    clear: both;
}

.form-table th {
    text-align: left;
    padding: 20px 10px 20px 0;
    width: 160px;
    color: white;
}

.button1 {
    height: 30px;
    border-radius: 15px;
    background-color: transparent;
    border: white solid;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

.button1:hover {
    background-color: white;
    color: #073ca6;
}

button.button1.back {
    float: left;
}

h4 {
    font-size: 20px;
}

.card {
    border: 1.5px solid white;
    color: white;
    padding: 8px 16px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 0 10 10 0;
}

a {
    text-decoration: none;
}

#resposeField {
    height: 100px;
    font-size: 20px;
    color: red;
    font-style: oblique;
}

h5 {
    font-size: 16px;
}

.dropdown {
    display: inline-table;
    margin: 0 15 15 0;
    background-color: #5d6887;
    opacity: 0.95;
    width: 550px;
    border: white solid 5px;
    margin-bottom: 15px;
}

li, .label {
    color: white;
}

h5.dropdown-title {
    width: 95%;
    font-size: 22;
    margin: 20;
    cursor: pointer;
}

.helptext {
    color: grey;
}

.dropdown-bottom {
    display: none;
    flex-flow: wrap;
}

i {
    border: solid white;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 5px;
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transition: 0.6s ease;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transition: 0.6s ease;
}

.input-fields {
    width: 100%;
    padding: 10;
    border: white solid 2px;
    margin: 0 10 10 10;
    display: inline-block;
    background-color: #5d6887;
    opacity: 0.95;
}

.input-fields p {
    margin: unset;
}

.input-fields.radio {
    height: 120px;
}

.input-fields.radio ul {
    padding-left: 0;
}

ul {
    padding: 0;
    list-style-type: none;
}

.remove {
    font-weight: bold;
    font-size: 20px;
    margin-left: 10px;
    cursor: pointer;
    float: right;
}

.new-cmd {
    margin: 30px 0 0 10px;
}

#globalCmdsContainer {
    padding-top: 10px;
}

#spinner {
    width: 70px;
    display: none;
}

.loading-bar {
    float: left;
}

.network, .passive-interface, .other-cmd {
    min-width: 200;
    max-width: 480;
}

.network p, .passive-interface p, .other-cmd p {
    float: left;
}

#terminal {
    width: 720;
}