/* BODY */

body {
    background-color: #272727;
    padding: 0 7%;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
}


/* LOGO */

.header {
    height: 120px;
    font-size: 20px;
}

.header img {
    position: absolute;
    border-radius: 10px;
    margin-top: 10px;
}


/* NAVIGATION BAR */

.navigation {
    min-height: 50px;
    width: 100%;
    background-color: #8E8D8A;
    border-radius: 15px;
}

.navigation ul {
    padding: 0;
}

.navigation ul li {
    display: inline-block;
}

.navigation ul a {
    transition: background-color 0.3s ease;
}

.navigation ul a:hover {
    background-color: #123C69;
    transition: background-color 0.3s ease;
}

.navigation a {
    display: block;
    border-radius: 15px;
    width: 150px;
    height: 30px;
    border: 3px solid white;
    text-decoration: none;
    color: white;
    font-size: 25px;
    text-align: center;
    margin: 5%;
}


/* MAIN CONTENT */

.main-content {
    background-color: #123C69;
    width: 96.5%;
    min-height: 500px;
    margin-top: 10px;
    color: white;
    border-radius: 10px;
    margin-bottom: 100px;
    padding: 1px 15px;
}

.sub-navigation {
    text-align: center;
}

.sub-navigation ul {
    max-width: 800px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 20px;
    display: inline-block;
    background-color: #8E8D8A;
    border-radius: 15px;
}

.sub-navigation ul li {
    margin: 0;
    padding: 10;
    display: inline-block;
}

.sub-navigation ul li:hover {
    background-color: #768da2;
    cursor: pointer;
}

.main-content h3 {
    font-size: 25px;
}

.config-inputs {
    margin: 10 0;
    /* display: none; */
}

.input-field {
    display: inline-block;
    width: 340px;
}

.input-label {
    width: 140px;
    float: left;
    margin: 10 0;
    font-size: 15px;
}

input[type="text"],
.form-table input {
    width: 200px;
    font-size: 18px;
    margin: 10 0;
    border-radius: 5px;
}

.form-table {
    border-collapse: collapse;
    margin-top: .2em;
    width: 100%;
    clear: both;
}

.form-table th {
    text-align: left;
    padding: 20px 10px 20px 0;
    width: 160px;
    color: white;
}

.button1 {
    border-radius: 25px;
    height: 30px;
    
    background-color: transparent;
    border: white solid;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

.button1:hover {
    background-color: white;
    color: #073ca6;
}

button.button1.back {
    float: left;
}

h4 {
    font-size: 20px;
}

.card {
    border: 3px solid white;
    color: white;
    padding: 8px 16px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin: 0 10 10 0;
    border-radius: 15px;
}

.card:hover {
    background: white;
    font-weight: bolder;
    color: #000033;
}

a {
    text-decoration: none;
}

.card.acl {
    font-size: 13px;
    padding: 12px 20px;
    margin: 10px;
}

#resposeField {
    height: 100px;
    font-size: 20px;
    color: red;
    font-style: oblique;
}

h5 {
    font-size: 16px;
}

.interface, .line {
    display: inline-table;
    min-width: 360px;
    width: 48%;
    border: white solid 5px;
    border-radius: 15px;
    margin-bottom: 15px;
}

h5.interface-title {
    width: 95%;
    font-size: 22;
    margin: 20;
    cursor: pointer;
}

.helptext {
    color: grey;
}

.dropdown-bottom {
    display: none;
    flex-flow: wrap;
}

i {
    border: solid white;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 5px;
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transition: 0.6s ease;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transition: 0.6s ease;
}

.input-fields {
    width: 100%;
    padding: 10px;
    border: white solid 2px;
    border-radius: 15px;
    margin: 0 10 10 10;
}

.input-fields p {
    margin: unset;
}

.input-fields.radio {
    height: 120px;
}

.input-fields.radio ul {
    padding-left: 0;
}

ul {
    list-style-type: none;
}

.remove-command {
    font-weight: bold;
    font-size: 20px;
    margin-left: 10px;
    vertical-align: -2.4;
}

.new-cmd {
    margin: 30px 0 0 10px;
}

#globalCmdsContainer {
    padding-top: 10px;
}